
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.Weather_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_3 */
.Weather_mobilegrid_3 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Weather_mobilegrid_3_wrapper {

}
.Weather_mobilegrid_3 > tr > td {
	vertical-align: top;
}
.Weather_mobilegrid_3_row_0, .Weather_mobilegrid_3_row_0 > td {
	height: 30px
}
/* mobilegridcell_4 */
.Weather_mobilegridcell_4 {
	height:30px !important;
	width:244px;
	padding: 2px 2px 2px 2px;
}
.Weather_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* input */
.Weather_input {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_5 */
.Weather_mobilegridcell_5 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Weather_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_10 */
#Weather_mobilebutton_10 {

}
.ui-btn.Weather_mobilebutton_10 {
	margin: 8px 5px 4px 5px;
}
/* mobilebutton_11 */
#Weather_mobilebutton_11 {

}
.ui-btn.Weather_mobilebutton_11 {
	margin: 4px 5px 4px 5px;
}
/* result_list */
.ui-page .Weather_result_list {
	margin: 4px 0px 0px 0px;
	display: none;
}
/* city */
/* mobilelistitembutton_17 */
.Weather_mobilelistitembutton_17 {

}
/* temperature */
/* mobilelistitembutton_19 */
.Weather_mobilelistitembutton_19 {

}
/* weather */
/* mobilelistitembutton_21 */
.Weather_mobilelistitembutton_21 {

}
/* icon */
.ui-mobile-viewport ul[data-role="listview"] li.Weather_icon {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Weather_icon .ui-li-static-container {
	padding: 5px 5px 4px 14px;
	padding-right: 46px;
	padding-left: 14px;
	min-height: 1em;
	border-width:0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Weather_icon.ui-icon-none .ui-li-static-container {
	padding-right: 5px; /* consider nothing */
}
/* mobilelistitembutton_23 */
.Weather_mobilelistitembutton_23 {

}
/* mobileimage_24 */
.Weather_mobileimage_24 {
	margin: 4px 0px 4px 0px;
	width: 45px; height: 45px;
	display: block;
}
/* mobilefooter1 */
.Weather_mobilefooter1 {
	min-height:38px;
}